In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import csv

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

In [7]:
# Let's read our data and analyzing it
datData = pd.read_table("ScrubTest.DAT", delimiter='', quotechar='þ' , engine='python' , encoding='utf-8-sig')

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html

using pandas documentation to fix the delimeters 

for some reason the python engine cannot understand the þ character and replaces it with Ã¾

In [8]:
datData.shape

(4, 11)

In [9]:
datData.columns

Index(['BegDoc ', 'EndDoc', 'BegAttach', 'EndAttach', 'To ', 'From', 'CC',
       'BCC', 'Filename ', 'Crap', 'Shit '],
      dtype='object')

In [10]:
datData.head(5)

,BegDoc,EndDoc,BegAttach,EndAttach,To,From,CC,BCC,Filename,Crap,Shit
0,BATES001,BATES002,BATES001,BATES004,"sam@target.com , bill@ok.com",greg@ok.com,NaN,NaN,target corp.msg,unwanted,rubish
1,BATES003,BATES004,BATES001,BATES004,"felix@targetCorp.com , rajul@okcorp.com ,",phil@target2.com,NaN,NaN,ok corp.xlsx,not needed,lovable
2,BATES005,BATES010,BATES005,BATES010,"jannie@targeter.com , nick@ok.com",greg@ok.com,NaN,NaN,target corp.msg,keeper,fine
3,BATES011,BATES012,BATES011,BATES012,"felix@target2Corp.com , rajul@TARcorp.com ,",phil@target2.com,NaN,NaN,ok corp.xlsx,undesirable,passable

In [109]:
test = 'SUMMATIONstuffNOITAMMUS'
test2 = 'SUMMATIONstuffSUMMATIONstuffNOITAMMUSSUM'
test3 = 'SUMnothing'

test = test.strip('SUMMATION')

print(test)

print(test2.strip('SUMMATION'))

print(test2.replace('SUMMATION' , ''))

print(test3.strip('SUMMATION'))

stuff
stuffSUMMATIONstuff
stuffstuffNOITAMMUSSUM
nothing

## Complex Scrubbing Test ##

In [74]:
replaceList= ['unwanted','not needed','undesirable','rubish', 'rajul@okcorp.com']

testDAT = datData.replace(replaceList, '', regex=True)

In [75]:
testDAT.at[3,'Crap']

' '

In [76]:
testDAT

,BegDoc,EndDoc,BegAttach,EndAttach,To,From,CC,BCC,Filename,Crap,Shit
0,BATES001,BATES002,BATES001,BATES004,"sam@target.com , bill@ok.com",greg@ok.com,NaN,NaN,target corp.msg,,
1,BATES003,BATES004,BATES001,BATES004,"felix@targetCorp.com , ,",phil@target2.com,NaN,NaN,ok corp.xlsx,,lovable
2,BATES005,BATES010,BATES005,BATES010,"jannie@targeter.com , nick@ok.com",greg@ok.com,NaN,NaN,target corp.msg,keeper,fine
3,BATES011,BATES012,BATES011,BATES012,"felix@target2Corp.com , rajul@TARcorp.com ,",phil@target2.com,NaN,NaN,ok corp.xlsx,,passable

In [113]:
#Writing data to DAT file 

datData.to_csv('test2.dat', header=True, index=None, sep='',
               quoting=csv.QUOTE_NONNUMERIC, quotechar ='þ',
               na_rep='',encoding='utf-8-sig',date_format='mm/dd/yyyy')

## Production Level complex scrubbing ##

In [5]:
ratanScrub = ["Iconiq","divesh","divesh makan","divesh@iconiqcapital.com","David Upson","dsupson@gmail.com","kmorris@morrisassociatesllc.com","kevin.s.murray@gmail.com","stephen.c.li@gmail.com","mteam@iconiqcapital.com","mchong@gbar.com","mof@ubp.ch","marko@hunterdouglas.com","marymoore1231@gmail.com","mattg@gbar.com","msmagacz@sternjointventure.com","mboensch@atratoadvisors.com","miked@philsmithmanage.com","Michal.Jarzabek@cna.com","mike.barbosa@gewarren.com","MikeElkin@interactiveprops.com","mtarczali@discap.com","mfreier@mcarta.com","monicactaylor@gmail.com","taylor@navconsulting.net","neil@northseacapital.co.uk","flautt@comcast.net","pduff58@gmail.com","patrick@iconiqcapital.com","Pjohnson@loews.com","phils@philsmithmanage.com","Jim Hoover","jhoover@dauphincapital.com","David Upson","Andrew Beer","Bronwyn M. Owen","Byron Tucker","C. Mead Welles","Chris Jackson","Christopher Golio","Crosby Haynes","Dan Gimbel","David Barrett","David Friedman","Dominic Napolitano","Elizabeth Hilpman","J. Adam Lavin","Jim O'Meara","Joel Gantcher","John Birdsall","Jonathan S. Morgan","Lauren E. McCollester","Libbet Regan","Michael Gray","Monica Anne Cortellisi Taylor","Pamela N. Speer","Spencer Boggess","W. Dean Regner","Adam Lavin","CTC Consulting","David.Upson@ctcconsulting.com","adb@beachheadcapital.com","bowen@tcifund.com","by.tucker@gmail.com","mead.welles@octagonam.com","cdj@probitaspartners.com","chrisgolio@cstarz.com","Crosby@BraddockMatthews.com","Dan.Gimbel@ctcconsulting.com","Barrett@gothamassetmanagement.com","dfriedman@rockridge-llc.com","dom@talsonpartners.com","ehilpman@barlowpartners.com","adam@novus.com","jom@newpostsearch.com","jgantcher@altinv.com","john.birdsall@hapoalimsec.com","jmorgan@soundfundadvisors.com","lauren.mccollester@nbcuni.com","Lr@boomcap.com","MGray@pacificincome.com","monicactaylor@gmail.com","pnweldon@gmail.com","xparitosh@gmail.com","pstovell@firstlightadvisors.com","spencer.boggess@ml.com","wdregner@debevoise.com","Julian Robertson"]

In [6]:
# Let's read our data and analyzing it
ratanData = pd.read_table("PROD003_export.dat", delimiter='', quotechar='þ' , engine='python' , encoding='utf-8-sig')

In [7]:
ratanData.head(5)

,Production::Begin Bates,Production::End Bates,Production::Begin Attachment,Production::End Attachment,Filename,Filesize,DocExt,RecordType,Email To,Email From,...,DateSent,Custodian,AllCustodians,TimeCreated,TimeSent,EDSource,EDFolder,MD5 Hash,Text Precedence,FILE_PATH
0,RATAN 00003783,RATAN 00003783,NaN,NaN,1195619.eml,399971,eml,Message,<ratanops@tigerratan.com>,<ezereports@tigerratan.com>,...,7/20/2017,Ratan Capital Management,Ratan Capital Management;,20:08:59,20:32:02,Ratan Capital Management\tigerratan.com_SF0126...,\Ratan Capital Management\tigerratan.com_SF012...,a9c90e837dc52426b28ba3778298c23f,.\PROD003\TEXT\TEXT001\RATAN 00003783.txt,NaN
1,RATAN 00003784,RATAN 00003784,NaN,NaN,310426.eml,185423,eml,Message,<ratanops@tigerratan.com>,<ezereports@tigerratan.com>,...,11/25/2014,Ratan Capital Management,Ratan Capital Management;,18:55:37,15:00:01,Ratan Capital Management\tigerratan.com_SF0126...,\Ratan Capital Management\tigerratan.com_SF012...,f0f4f1855976e2bf24fc272ca908a9cc,.\PROD003\TEXT\TEXT001\RATAN 00003784.txt,NaN
2,RATAN 00003785,RATAN 00003785,NaN,NaN,260925.eml,308297,eml,Message,<ratanops@tigerratan.com>,<ezereports@tigerratan.com>,...,9/26/2014,Ratan Capital Management,Ratan Capital Management;,20:56:12,20:15:05,Ratan Capital Management\tigerratan.com_SF0126...,\Ratan Capital Management\tigerratan.com_SF012...,7a8c28225bfa17cd74cf086bfce82e0e,.\PROD003\TEXT\TEXT001\RATAN 00003785.txt,NaN
3,RATAN 00003786,RATAN 00003787,NaN,NaN,665417.eml,83889,eml,Message,<ratanops@tigerratan.com>,Eze Reports <ezereports@ratancapital.com>,...,1/27/2016,Ratan Capital Management,Ratan Capital Management;,19:40:07,10:15:31,Ratan Capital Management\tigerratan.com_SF0126...,\Ratan Capital Management\tigerratan.com_SF012...,939c746e0b155654bac647bd9c09d62a,.\PROD003\TEXT\TEXT001\RATAN 00003786.txt,NaN
4,RATAN 00003788,RATAN 00003788,NaN,NaN,521284.eml,18417,eml,Message,<mshifren@tigerratan.com>,Proofpoint Essentials <do-not-reply@proofpoint...,...,8/7/2015,Ratan Capital Management,Ratan Capital Management;,19:21:51,19:06:01,Ratan Capital Management\tigerratan.com_SF0126...,\Ratan Capital Management\tigerratan.com_SF012...,841d7c89f8cab952d589c0eb0ed2be7a,.\PROD003\TEXT\TEXT001\RATAN 00003788.txt,NaN

In [8]:
fromList = list(ratanData['Email From'].unique())
toList = list(ratanData['Email To'].unique())
ccList = list(ratanData['Email CC'].unique())
bccList = list(ratanData['Email BCC'].unique())

allEmailList = fromList + toList + ccList + bccList

pd.DataFrame(allEmailList).to_csv('allEmailList.csv')

In [11]:
emailRedactList = []

for thing in allEmailList:
    element = str(thing)
    if ';' in element:
        subElementList = element.split(';')
        for subElement in subElementList:
            if any(s in subElement for s in ('iconiq', 'Iconiq', 'ICONIQ')):
                emailRedactList.append(subElement.strip())
    else:
        if any(s in element for s in ('iconiq', 'Iconiq', 'ICONIQ')):
                emailRedactList.append(element.strip())
                
emailRedactList

[]

In [81]:
ratanData = ratanData.replace(ratanScrub, '', regex=True)

In [82]:
ratanData = ratanData.replace(',,', '', regex=True)

In [99]:
emailRedactList

[]

In [107]:
ratanData.to_csv('PROD003_Scrub.dat', header=True, index=None, sep='',
               quoting=csv.QUOTE_NONNUMERIC, quotechar ='þ',
               na_rep='',encoding='utf-8-sig',date_format='mm/dd/yyyy')

## Redactions and Removing email files from DAT

In [116]:
x = ['1','2;3;4','1000','2000']

In [117]:
newList = list()

print(x[1])
print(';' in x[1])
print('2' in x[1])


for element in x:
    if ';' in element:
        subElementList = element.split(';')
        for subElement in subElementList:
            newList.append(subElement)
    else: newList.append(element)    
            
            
print(newList)

2;3;4
True
True
['1', '2', '3', '4', '1000', '2000']

## Splitting DATs

https://stackoverflow.com/questions/41624241/pandas-split-dataframe-into-two-dataframes


http://chris.friedline.net/2015-12-15-rutgers/lessons/python2/02-index-slice-subset.html



https://stackoverflow.com/questions/34682828/extracting-specific-selected-columns-to-new-dataframe-as-a-copy

## Splitting out specific columns

Method 1 - creating a copy of the 'BEGBATES' column into a new Data Frame 

to intiate it as a new dataframe you need to call pd.DataFrame() on the copy or else it will just be an object

In [118]:
controlNumOverlay = pd.DataFrame(datData['BEGBATES'].copy())

controlNumOverlay.to_csv('controlnumoverlay.dat', header=True, index=None, sep='', quotechar ='þ',
                        quoting=csv.QUOTE_NONNUMERIC, na_rep='',encoding='utf-8-sig')

In [119]:

controlNumOverlay.head(5)

           BEGBATES
0  BIGBANK_00001652
1  BIGBANK_00001653
2  BIGBANK_00001655
3  BIGBANK_00001657
4  BIGBANK_00001658

Method 2 - writing selecting specific columns to write from original dataframe 

*** note need to give columns as a list of column names

In [120]:
datData.to_csv('controlnumoverlay2.dat', header=True, index=None, sep='', na_rep='',
               quoting=csv.QUOTE_NONNUMERIC, quotechar ='þ', columns=['BEGBATES']
               ,encoding='utf-8-sig')

In [121]:

controlNumOverlay2 = datData[['BEGBATES','ENDBATES']].copy()

In [122]:
controlNumOverlay2.head(5)

           BEGBATES          ENDBATES
0  BIGBANK_00001652  BIGBANK_00001652
1  BIGBANK_00001653  BIGBANK_00001654
2  BIGBANK_00001655  BIGBANK_00001656
3  BIGBANK_00001657  BIGBANK_00001657
4  BIGBANK_00001658  BIGBANK_00001661